In [1]:
import pandas as pd
import sklearn

from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer

from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier

In [2]:
X_train_path= 'data/X_train.csv'
X_test_path= 'data/X_test.csv'
y_train_path= 'data/y_train.csv'
y_test_path= 'data/1234.csv'

In [3]:
X_train = pd.read_csv(X_train_path, encoding='cp949')
X_train = X_train.iloc[:,1:]
X_test = pd.read_csv(X_test_path, encoding='cp949')
X_test_id = X_test.iloc[:,0]
X_test = X_test.iloc[:,1:]
y_train = pd.read_csv(y_train_path, encoding='cp949')
y_train = y_train.iloc[:,-1]

In [4]:
X_train

,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,68282840,11264000,6860000.0,기타,강남점,19,3.894737,0.527027,17
1,2136000,2136000,300000.0,스포츠,잠실점,2,1.500000,0.000000,1
2,3197000,1639000,NaN,남성 캐주얼,관악점,2,2.000000,0.000000,1
3,16077620,4935000,NaN,기타,광주점,18,2.444444,0.318182,16
4,29050000,24000000,NaN,보석,본 점,2,1.500000,0.000000,85
...,...,...,...,...,...,...,...,...,...
3495,3175200,3042900,NaN,골프,본 점,1,2.000000,1.000000,0
3496,29628600,7200000,6049600.0,시티웨어,부산본점,8,1.625000,0.461538,40
3497,75000,75000,NaN,주방용품,창원점,1,1.000000,0.000000,0
3498,1875000,1000000,NaN,화장품,본 점,2,1.000000,0.000000,39
3499,263101550,34632000,5973000.0,기타,본 점,38,2.421053,0.467391,8

In [5]:
X_test

,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,70900400,22000000,4050000.0,골프,부산본점,13,1.461538,0.789474,26
1,310533100,38558000,48034700.0,농산물,잠실점,90,2.433333,0.369863,3
2,305264140,14825000,30521000.0,가공식품,본 점,101,14.623762,0.083277,3
3,7594080,5225000,NaN,주방용품,부산본점,5,2.000000,0.000000,47
4,1795790,1411200,NaN,수산품,청량리점,3,2.666667,0.125000,8
...,...,...,...,...,...,...,...,...,...
2477,82581500,23976000,NaN,골프,부산본점,8,1.750000,0.642857,40
2478,480000,480000,NaN,섬유잡화,광주점,1,1.000000,0.000000,0
2479,260003790,25750000,NaN,남성 캐주얼,본 점,19,3.736842,0.915493,18
2480,88991520,18120000,NaN,육류,본 점,5,3.600000,0.444444,60
2481,623700,209000,NaN,가공식품,영등포점,2,5.000000,0.000000,31

In [6]:
X_train.loc[:,['주구매상품','주구매지점']] = \
X_train.loc[:,['주구매상품','주구매지점']].apply(LabelEncoder().fit_transform)
print(X_train.loc[:,['주구매상품','주구매지점']])
X_test.loc[:,['주구매상품','주구매지점']] = \
X_test.loc[:,['주구매상품','주구매지점']].apply(LabelEncoder().fit_transform)
print(X_test.loc[:,['주구매상품','주구매지점']])

      주구매상품  주구매지점
0         5      0
1        21     19
2         6      1
3         5      2
4        15      8
...     ...    ...
3495      3      8
3496     22      9
3497     32     21
3498     41      8
3499      5      8

[3500 rows x 2 columns]
      주구매상품  주구매지점
0         3      9
1         9     19
2         0      8
3        31      9
4        19     22
...     ...    ...
2477      3      9
2478     17      2
2479      6      8
2480     26      8
2481      0     15

[2482 rows x 2 columns]

In [7]:
X_train.loc[:,['환불금액']]= X_train.loc[:,['환불금액']].fillna(0)
X_test.loc[:,['환불금액']]= X_test.loc[:,['환불금액']].fillna(0)
print(X_train.loc[:,['환불금액']])

           환불금액
0     6860000.0
1      300000.0
2           0.0
3           0.0
4           0.0
...         ...
3495        0.0
3496  6049600.0
3497        0.0
3498        0.0
3499  5973000.0

[3500 rows x 1 columns]

In [8]:
X_train.corr()

,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
총구매액,1.000000,0.700080,0.467686,-0.082916,-0.038724,0.659084,0.090022,0.014396,-0.212944
최대구매액,0.700080,1.000000,0.429504,-0.090729,-0.024819,0.374147,0.018980,0.022277,-0.115837
환불금액,0.467686,0.429504,1.000000,-0.056604,-0.045686,0.377570,-0.003871,-0.024707,-0.137362
주구매상품,-0.082916,-0.090729,-0.056604,1.000000,0.015874,-0.185275,-0.274178,-0.010018,0.032469
주구매지점,-0.038724,-0.024819,-0.045686,0.015874,1.000000,-0.059570,-0.080804,0.011990,0.035344
내점일수,0.659084,0.374147,0.377570,-0.185275,-0.059570,1.000000,0.225264,-0.010325,-0.293200
내점당구매건수,0.090022,0.018980,-0.003871,-0.274178,-0.080804,0.225264,1.000000,0.007659,-0.091151
주말방문비율,0.014396,0.022277,-0.024707,-0.010018,0.011990,-0.010325,0.007659,1.000000,0.003372
구매주기,-0.212944,-0.115837,-0.137362,0.032469,0.035344,-0.293200,-0.091151,0.003372,1.000000

In [9]:
model= LogisticRegression()
model.fit(X_train, y_train)
print("LR score : {}".format(model.score(X_train, y_train)))

LR score : 0.624

In [10]:
predict = model.predict_proba(X_test)
predict = pd.DataFrame(predict)
predict = predict.iloc[:,1]
print(predict)

0       0.425232
1       0.198986
2       0.238942
3       0.490611
4       0.497643
          ...
2477    0.423941
2478    0.499290
2479    0.307654
2480    0.423974
2481    0.499399
Name: 1, Length: 2482, dtype: float64

In [11]:
answer = pd.concat([X_test_id, predict], axis=1)
answer.to_csv(y_test_path, index= False)

In [12]:
mlp = MLPClassifier(hidden_layer_sizes=(10,), solver='adam', activation= 'relu'
                    , learning_rate_init= 0.001, max_iter= 500 )
mlp.fit(X_train, y_train)
print("NN Training ACC : ", mlp.score(X_train, y_train) )

NN Training ACC :  0.5534285714285714

In [13]:
predict = mlp.predict_proba(X_test)
predict = pd.DataFrame(predict)
predict = predict.iloc[:,1]
print(predict)

0        0.000000e+00
1        0.000000e+00
2        0.000000e+00
3        0.000000e+00
4       4.087833e-237
            ...
2477     1.000000e+00
2478     0.000000e+00
2479     1.000000e+00
2480     1.000000e+00
2481     1.000000e+00
Name: 1, Length: 2482, dtype: float64

In [14]:
rf = RandomForestClassifier(n_estimators= 100, max_depth= 5, random_state= 999)
rf.fit(X_train, y_train)
print("NN Training ACC : ", rf.score(X_train, y_train) )

NN Training ACC :  0.6928571428571428

In [15]:
predict = rf.predict_proba(X_test)
predict = pd.DataFrame(predict)
predict = predict.iloc[:,1]
print(predict)

0       0.424862
1       0.190221
2       0.232638
3       0.413404
4       0.475613
          ...
2477    0.489450
2478    0.512312
2479    0.430330
2480    0.378148
2481    0.561426
Name: 1, Length: 2482, dtype: float64