In [1]:
import pandas as pd
import sklearn

from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.impute import SimpleImputer

from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier

In [2]:
X_train_path= 'data/X_train.csv'
X_test_path= 'data/X_test.csv'
y_train_path= 'data/y_train.csv'
y_test_path= 'data/1234.csv'

In [3]:
X_train = pd.read_csv(X_train_path, encoding='cp949')
X_train = X_train.iloc[:,1:]
X_test = pd.read_csv(X_test_path, encoding='cp949')
X_test = X_test.iloc[:,1:]
y_train = pd.read_csv(y_train_path, encoding='cp949')
y_train = y_train.iloc[:,-1]

In [4]:
X_train

,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,68282840,11264000,6860000.0,기타,강남점,19,3.894737,0.527027,17
1,2136000,2136000,300000.0,스포츠,잠실점,2,1.500000,0.000000,1
2,3197000,1639000,NaN,남성 캐주얼,관악점,2,2.000000,0.000000,1
3,16077620,4935000,NaN,기타,광주점,18,2.444444,0.318182,16
4,29050000,24000000,NaN,보석,본 점,2,1.500000,0.000000,85
...,...,...,...,...,...,...,...,...,...
3495,3175200,3042900,NaN,골프,본 점,1,2.000000,1.000000,0
3496,29628600,7200000,6049600.0,시티웨어,부산본점,8,1.625000,0.461538,40
3497,75000,75000,NaN,주방용품,창원점,1,1.000000,0.000000,0
3498,1875000,1000000,NaN,화장품,본 점,2,1.000000,0.000000,39
3499,263101550,34632000,5973000.0,기타,본 점,38,2.421053,0.467391,8

In [5]:
df_tmp = pd.get_dummies(X_train['주구매상품'])

In [8]:
X_train=pd.concat([X_train, df_tmp], axis=1)

In [9]:
X_train

,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기,가공식품,...,주방용품,차/커피,축산가공,침구/수예,캐주얼,커리어,통신/컴퓨터,트래디셔널,피혁잡화,화장품
0,68282840,11264000,6860000.0,기타,강남점,19,3.894737,0.527027,17,0,...,0,0,0,0,0,0,0,0,0,0
1,2136000,2136000,300000.0,스포츠,잠실점,2,1.500000,0.000000,1,0,...,0,0,0,0,0,0,0,0,0,0
2,3197000,1639000,NaN,남성 캐주얼,관악점,2,2.000000,0.000000,1,0,...,0,0,0,0,0,0,0,0,0,0
3,16077620,4935000,NaN,기타,광주점,18,2.444444,0.318182,16,0,...,0,0,0,0,0,0,0,0,0,0
4,29050000,24000000,NaN,보석,본 점,2,1.500000,0.000000,85,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3495,3175200,3042900,NaN,골프,본 점,1,2.000000,1.000000,0,0,...,0,0,0,0,0,0,0,0,0,0
3496,29628600,7200000,6049600.0,시티웨어,부산본점,8,1.625000,0.461538,40,0,...,0,0,0,0,0,0,0,0,0,0
3497,75000,75000,NaN,주방용품,창원점,1,1.000000,0.000000,0,0,...,1,0,0,0,0,0,0,0,0,0
3498,1875000,1000000,NaN,화장품,본 점,2,1.000000,0.000000,39,0,...,0,0,0,0,0,0,0,0,0,1
3499,263101550,34632000,5973000.0,기타,본 점,38,2.421053,0.467391,8,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
X_train.loc[:,['환불금액']]= X_train.loc[:,['환불금액']].fillna(0)
print(X_train.loc[:,['환불금액']])

           환불금액
0     6860000.0
1      300000.0
2           0.0
3           0.0
4           0.0
...         ...
3495        0.0
3496  6049600.0
3497        0.0
3498        0.0
3499  5973000.0

[3500 rows x 1 columns]

In [11]:
X_train=X_train.drop(['주구매상품','주구매지점'],axis=1)

In [12]:
X_train

,총구매액,최대구매액,환불금액,내점일수,내점당구매건수,주말방문비율,구매주기,가공식품,가구,건강식품,...,주방용품,차/커피,축산가공,침구/수예,캐주얼,커리어,통신/컴퓨터,트래디셔널,피혁잡화,화장품
0,68282840,11264000,6860000.0,19,3.894737,0.527027,17,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2136000,2136000,300000.0,2,1.500000,0.000000,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3197000,1639000,0.0,2,2.000000,0.000000,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,16077620,4935000,0.0,18,2.444444,0.318182,16,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,29050000,24000000,0.0,2,1.500000,0.000000,85,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3495,3175200,3042900,0.0,1,2.000000,1.000000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3496,29628600,7200000,6049600.0,8,1.625000,0.461538,40,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3497,75000,75000,0.0,1,1.000000,0.000000,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3498,1875000,1000000,0.0,2,1.000000,0.000000,39,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3499,263101550,34632000,5973000.0,38,2.421053,0.467391,8,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
mms = MinMaxScaler()
X_train=mms.fit_transform(X_train)

In [22]:
X_train.shape

(3500, 49)

In [17]:
y_train

0       0
1       0
2       1
3       1
4       0
       ..
3495    1
3496    1
3497    0
3498    0
3499    0
Name: gender, Length: 3500, dtype: int64

In [20]:
model= LogisticRegression()
model.fit(X_train, y_train)
print("LR score : {}".format(model.score(X_train, y_train)))

LR score : 0.6657142857142857

In [21]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

model.fit(X_train, y_train)
print("LR score : {}".format(model.score(X_train, y_train)))
predicted= model.predict(X_train)

LR score : 0.6657142857142857